.bgContaner {
    background-color: white;
    padding: 50px;
}

.link {
    color: #000000;
    font-style: normal;
    text-decoration: none;
}

.topimgContaner {
    width: 40%;

    position: relative;
}

.topimgContaner img {
    width: 100%;
    /* height: 150px; */
    position: relative !important;
    border-radius: 3px;

}

.titlediv {
    margin-bottom: 16px;
    text-align: center;
}

.titlediv h3 {

    font-family: 'gotham-light' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.topContainer {
    display: flex;
    /* justify-content: space-around; */
}

.prveContainer {
    display: flex;

}

.nextContainer {
    display: flex;
    justify-content: flex-end;

}
.icon{
    margin: 20px 4px 4px 4px ;
    color: #797979;
    
}
.card {
    padding: 10px;
    text-align: center;
    
}

.card h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    
}
.bgContaner span{
    display: block;
    font-size: 13px;
    line-height: normal;
    color: #797979;
    font-family: "Noto Serif",serif;
    margin-top: 1px;
}
.bgContaner span:hover{
    display: block;
    font-size: 13px;
    line-height: normal;
    color: #2f31a3;
    font-family: "Noto Serif",serif;
    margin-top: 1px;
}

.bgContaner p span{
    font-family: "Noto Sans",serif;
    font-size: 12px;
    line-height: 1em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}

.card h6 span{
    font-family: muli, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 29px;
    color: #797979;
}

.imgContaner {
    width: 100%;
    position: relative;
    margin-bottom: 16px;
}

.imgContaner img {
    width: 100%;
    /* height: 200px; */
    position: relative !important;
    border-radius: 3px;

}